*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    height: 90px;
    background-color: #fafcfe;
    margin-right: 30px;
}

.nav_link_1 li{
    list-style: none;
    text-decoration: none;
}
.nav_link_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.nav_link_1 li a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav_container h2{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #7562E0;
}

.container_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 87%;
}

/*.image_container{
    border: steelblue 1px solid;
    border-radius: 50px;
    border: tomato 1px solid;
}*/

.image_container img{
    height: 400px;
    width: 385px;
}

.image_container{
    padding: 0 20px;
}

.container_section_left h1{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container_section_left{
    margin: 30px 30px 0 150px;
    padding-left: 42px;
}

.container_section_left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 25px 0;
}

.img_moi{
    object-fit: cover;
    border-radius: 190px;
    border: 15px solid #fafcfe;
    margin: 30px 0;
    box-shadow: 0.3em 0.3em 0.3em 0.2em #7562E0;
}

.container_section_left .btn_1{
    color: #7562E0;
    padding: 30px ;
    margin: 30px 0;
    width: 50%;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0.3em 0.3em 0 #7562E0;
    border:none;
}


.second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: #fafcfe;
}

.gif img{
    width: 200px;
    margin-left: 25px;
}

.block{
    height: 200px;
    width: 30%;
    box-shadow: 5px 5px 10px #7562E0;
    margin-top: 25px;
    border-top: #7562E0 1px solid;
    border-left: #7562E0 1px solid;
    position: relative;
    border-radius: 10px;
    background-color: #fafcfe;
}
.troisieme_section{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 400px;
    width: 1600px;
    margin: 50px 40px 0px 170px;
    padding: 0   40xp;
}


/*.troisieme_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 100%;
}*/

.troisieme_section_left{
    height: 400px;
    width: 15%;
}
.troisieme_section_left p{
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.troisieme_section_left p{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.troisieme_section_left span{
    font-size: 70px;
    color: #7562E0;
    font-weight: 600;
}

.troisieme_section_right{
    width: 70%;
    height: 395px ;
}

.troisieme_section_right h1{
    font-size: 30px;
    font-weight: 700;
    color:#7562E0;
    font-family: 'Montserrat', sans-serif; 
    padding: 10px 0 0 30px;

}

.bloc_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.block h4{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    bottom: 10px;
    padding-left: 10px;
    color: #7562E0;
    position: absolute;
}

.troisieme_section_right .block  i{
    font-size: 40px;
    color: #7562E0;
    margin-bottom: 20px;
}
    
.quatrieme_section{
    display:flex;
    justify-content: center;
    align-items: space-around;
}

.quatrieme_section h2{
    font-size: 30px;
    color: #7562E0;
    margin-right: 20px;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
}
.quatrieme_section p{
    font-family: 'Montserrat', sans-serif;
    font-style: 16px;
    padding: 25px 20px;
}
.quatrieme_section a{
    color:#7562E0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 25px 20px;
}

.cinquieme_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    margin-top: 20px;
    background-color: brown;
}

.cinquieme_section_centre{
    background-color: blue;
    height: 80vh;
    width: 60%;
    flex-wrap: wrap;
}

/*.photo_sixieme_section{
    display: flex;
    justify-content: center;
    align-items: center;
    border: springgreen 1px solid;
}*/

.sixieme_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 40px;
    height: 50vh;
}
.sixieme_section_left{ 
    width: 55%;
    border: teal 2px solid;
    margin: 0;
    border-radius: 15px;
}
.sixieme_section_right{
    margin-left: 25px;
    height: 40vh ;

}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixieme_section img{
    border-radius: 15px;
    width: 53%;
}
.sixieme_section_right h1{
    font-size: 32px;
    font-family:'Montserrat', sans-serif;
    color: #7562E0;
    padding: 0 0 25px 0;
    font-weight: bold;
}
.sixieme_section_right p{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 2px;

}
.playst img{
    width: 35%;
    margin-top: 20px;
}
.playst {
    text-align: center;
}

.septieme_section{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: #fafcfe;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.septieme_section .abc{
    width: 300px;
    height: 300px;
    margin-left: 25px;
}

.test_1{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    
}
.septieme_section_left img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    left: 115px;
    top: 30px;
    border: 5px solid #7562E0;
}

.septieme_section_center img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    left: 115px;
    top: 30px;
    border: 5px solid #7562E0;
}

.septieme_section_right img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    left: 115px;
    top: 30px;
    border: 5px solid #7562E0;
}

.septieme_section_left{
    position: relative;
    box-shadow: 0.3em 0.3em 0.5em #7562E0;
}
.septieme_section_center{
    position: relative;
    box-shadow: 0.3em 0.3em 0.5em #7562E0;
}
.septieme_section_right{
    position: relative;
    box-shadow: 0.3em 0.3em 0.5em #7562E0;
}

.septieme_section_left p{
    font-family:'Montserrat', sans-serif;
    position: relative;
    font-size: 18px;
    text-align: center;
    top: 110px;
    color:#7562E0;
    font-weight: 400;
}
